<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <style>
body{
    text-align: center;
    background-image: url("hack2.jpg");
}
h1,label{
    color: rgb(2, 222, 251);
    text-shadow: 5px 5px 5px white;
}

    </style>
    <body>
        <div style="" id="a"><img src="hack.jpg" width="100px" height="100px" alt=""><h1>Form Fill Up</h1></div>
        
        <form action="sal" method="post">
           <pre> <label for="name">NAME :</label><br></pre>
            <input type="text" placeholder="name" name="name"><br>

            <!-- <input type="submit"> -->
           <pre> <label for="gen">GENDER :</label><br></pre>
            <input type="text" placeholder="gender" name="gen"><br>

            <pre><label for="age">AGE :</label><br></pre>
            <input type="number" placeholder="age" name="age"><br>

            <pre><label for="bg">BLOOD GROUP :</label><br></pre>
            <input type="text" placeholder="bllod-group" name="bg"><br>

           <pre> <label for="phone">PHONE NUMBER :</label><br></pre>
            <input type="number" placeholder="phone" name="phone"><br>
            <input type="submit">
        </form>
    </body>
</html>